@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif; 
}
/* top-nav-banner */
.top-offers-banner{
    display:flex;
    justify-content: center; 
    align-items: center;
    padding:10px 0px;
    background-color:rgb(195 41 69);
}
.banner-box, .signup-box{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    color:white;
    letter-spacing: .06rem;
    font-size: 13px; 
}
.banner-box>a{
    color:white;
}
/* top-nav-banner */

/* signup-navbar */
.signup-section{
   background-color: rgb(247 246 242);
   padding:10px 0px;
}
.container{
    width:92%;
    margin: auto;
}
.signup-container
{
     display:flex;
 justify-content: flex-end;
}
.signup-box {
    justify-content: flex-end;
}
.signup-box div{
     display:flex;
     align-items: center;
     margin-right: 20px;
     color:rgb(79 153 170);
     font-size:12px;
}
.signup-box div:hover{
    cursor:pointer;
    color:black;
}
.signup-box div img{
    width:20%;
    margin-right:5px;
}
/* signup-navbar */

/* logo and search nav */
.head-nav{
    border:2px solid rgb(243 242 236);
     background-color: #FDFDF9;
    position:sticky;
    top:0px;
    z-index: 10;
}

.head-nav .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display:flex;
    justify-content: space-around;
    align-items: center;
    border:2px solid rgb(243 242 236);
}
.left >h3{
    padding:15px;
    border-left:2px solid rgb(243 242 236);
}
.left>h3 span{
font-family: 'Explora', cursive;
font-size: 30px;
}
.left img:nth-child(1)
{
    border-top: 5px solid rgb(22 122 146);
    padding:10px 10px;
}
.right{
    display:flex;
    justify-content: flex-end;   
    width: 40%;
}
.search{
    border:2px solid rgb(147 147 149);
    display:flex;
    border-radius:5px;
    padding:0px 5px;
    margin-right: 25px;
    width:50%;
    justify-content: space-between;
} 

#search-box{
    border:none;
    outline: none;
    width:90%
}
/* logo and search nav */

/* nav-bar */
.main-nav{
    border-bottom:2px solid rgb(243 242 236);
    background-color: #FDFDF9;
    position:sticky;
    top:76px;
    z-index: 10;
}
.nav-link{
    display:flex;
    justify-content:space-around;
    width:80%;
    align-items: center;
}
.nav-link a{
    text-decoration: none;
    font-size: 0.8rem;
    color:black;
    padding:20px;
}
.nav-link a:hover{
    border-bottom:1px solid rgb(22 122 146);
    color:rgb(22 122 146);
}
/* nav-bar */

/* filter */
.filter{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    padding:15px 0px;
    gap:20px;
    
}
.position{
    position: relative;
}
.filter img{
    width:100%
}
.position h4{
    position: absolute;
    top: 26px;
    left: 75px;
    color:black;
    /* text-transform: uppercase; */
    cursor:pointer;
}
/* filter */

/* content */

.content{
    display:flex;
    margin: 20px 0px;
}

/* side-nav */

.side-nav{
    width:17%;
    font-size: 13px;
}
.side-nav span{
    width:80%;
    border-top: 2px solid rgb(243 242 236);;
    display: inline-block;
}
.side-nav button {
    display:flex;
    flex-direction:column;
    font-size: 13px;
    align-items: start;
    padding:10px;
    text-decoration: none;
    color:black;
    border:none;
    background-color:white;
}

.side-nav button:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* side-nav */


.container-content{
    width:83%;
}

/* content-container-top */

.container-top{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.container-top .left{
    border:none;
    font-size:25px;
}
.container-top .right select{
    width:50%;
    padding:5px 0px;
    outline:none;
}
.container-top .right label{
    font-size:15px;
    margin-top: 5px;
    margin-right: 14px;
}
/* content-container-top */

/* content-container-body */

.content-container-body{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px 10px;
    margin: 20px 0;
}

.content-container-body .card img{
    width:100%;
}
.content-container-body .card p{
    font-size:13px;
    margin:10px 0;
}

/* content-container-body */

/* content */

/* about */
.about p{
    font-size: 18px;
    margin-bottom: 10px;
}
.about h4{
    color: black;
    letter-spacing: .08rem;
    margin-bottom: 10px;
    font-size: 0.9rem;
    font-weight: 100!important;
}
.about{margin: 50px 0;}
/* about */

/* footer */
.footer{
    padding:40px 0px;
    background-color: rgb(247 246 242);
}
.footer .container .footer-top {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:0px 325px;
}
.footer-content h3{
    margin-bottom: 10px;
}
.footer-content p{
    margin-bottom: 10px;
    line-height: 25px;
    letter-spacing: .07rem;
}

.footer-input-box label{
    display:block;
    margin-bottom: 10px;
}
.footer-input-box #email-box {
    padding:13px;
    width:60%;
    outline: none;
   
}
.footer-input-box #submit{
    background-color: rgb(75 86 102);
    border:rgb(75 86 102);
    color:white;
    cursor: pointer;
   display:inline;
    font-size: 1.3rem;
    
    padding: 8px 20px;
    width: 25%;
}

.footer .container >p{
    margin-top: 10px;
    font-size:12px;
    text-align: center;
}


/* footer */